%h1 Courses

%table
  %thead
    %tr
      %th Title
      %th day or night
  %tbody
    - @courses.each do |course|
      %tr
        %td
          = link_to course.title, course
        %td
          = course.time_of_day
        %td
          = link_to "Edit", edit_course_path(course)
        %td
          = link_to "Delete", course, method: :delete
%br
= link_to "Create Course", new_course_path
|
= link_to "Check out some Users", users_path
