%h1 Courses

%table
  %thead
    %tr
      %th User Name
      %th About
  %tbody
    - @users.each do |user|
      %tr
        %td
          = link_to user.user_name, user
        %td
          = user.about
        %td
          = link_to "Edit", edit_user_path(user)
        %td
          = link_to "Delete", user, method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to "Create User", new_user_path
